@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #171717;
  --background: #ffffff;
}

[data-theme='dark'] {
  --foreground: #ffffff;
  --background: #171717;
}

html {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

body {
  color: var(--foreground);
  background: var(--background);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
}
